extends layout


block content
  .offer-first
    span(style='font-size: 2em;font-weight: lighter')= greeting
    br
    span(style='font-size: 1.5em;color: #87CEFA')= sub
    br
    span(style='line-height:1.5em;padding:5px;font-weight: medium;text-align: center')= des
      b(style='color: #87CEFA')= des_1 
    br
    i(style='font-size: small;color: skyblue;font-weight:bold')= des_2
    a(style='font-size: small; cursor: pointer;' onclick='showKnowMore()')
      br
      | know more
      | &gt;
    br
    br
    br
    br
    br
    .introImage
    //- div(style='height:10em; width: 100%; position:absolute; bottom: 0; ')  
    //-   div(style='margin: auto')
    //-     a(href="https://wa.me/+917218113344" target="blank")
    //-       .whatsappImage    
       
    //- div(style='height:8em; width: 100%; position:absolute; bottom: 0;margin-bottom: 8px; ')
    //-   div(style='margin: auto')
    //-     a.w3-btn.whatsappImage(href="https://wa.me/+917218113344" target="blank" )
    br
    div(style='height:5em; width: 100%; position:absolute; bottom: 0; ')
      div(style='margin: auto')
        button.w3-btn.w3-white(onclick='bookNow()' style="font_weight: bold")= button_text
        
        
  #know-more.action-div
    .w3-card-4.w3-border.w3-round-large
      .w3-container.w3-black
        h2.highlight  New User
      .w3-container Includes installation charges and Router for use 
      br
      .w3-container(style='text-align: left;')
        | Speed : 
        span.highlight= speed
        span.highlight= des
        br
        |  Data Cap
        |                 : 
        span.highlight= know_data_cap
        br
        |  Security Deposit: 
        span.highlight= depo
        br
        |  Subcription Fee : 
        span.highlight= know_sub 
        br
      br
      div(style='margin: auto')
        button.w3-btn.w3-green(onclick='bookNow()')= button_text
      br
  #bookNow.action-div
    .w3-card-4.w3-border.w3-round-large
      .w3-container.w3-green
        h2 Sign up 
      .w3-container(style='text-align: left')
        h4(style='text-align: center')= speed
        small.highlight
          | 
          | #{customerName} .
        br
        small(style='color: skyblue')
          | Please don't sign up for commercial connection using this
          | offer.
        form#bookNowform.w3-container
          label  Name
          input#p_name.w3-input.w3-border.w3-round(type='text' required='' pattern="^\S+$")
          label Address
          input#p_address.w3-input.w3-border.w3-round(type='textarea' required='' pattern="^\S+$")
          label Email
          input#p_email.w3-input.w3-border.w3-round(type='email' required='' pattern="^\S+$")
          label Mobile No
          input#p_mobileNo.w3-input.w3-border.w3-round(type='text' required='' pattern="^\S+$")
          label City
          input#p_city.w3-input.w3-border.w3-round(type='text' required='' pattern="^\S+$")
          label State
          input#p_state.w3-input.w3-border.w3-round(type='text' required='' pattern="^\S+$")
          label Pincode
          input#p_pin.w3-input.w3-border.w3-round(type='text' required='' pattern="^\S+$")
          input.w3-input.w3-border.w3-round(type='hidden')
        div(style='margin: auto; text-align: center')
          small Book now  
            | and Pay after installation.
          br
          button#rzp-button-pay.w3-btn.w3-green(onclick='placeBooking()') Book now
          script(src='https://checkout.razorpay.com/v1/checkout.js')
      br
    script.
        function placeBooking(){
            var apiKey = '61ac05eda12f7bd8a45400396c165643'
            var name = document.getElementById('p_name').value;
            var address = document.getElementById('p_address').value;
            var email = document.getElementById('p_email').value;
            var mobileNo = document.getElementById('p_mobileNo').value;
            var city = document.getElementById('p_city').value;
            var state = document.getElementById('p_state').value;
            var pincode = document.getElementById('p_pin').value;
            var plan_Name = '#{planName}'
            var description = ` ${plan_Name} ~ ${name} ~ ${address} ~  ${city} ~ ${state} ~ ${pincode} ~ ${email} `
            
            if( name != "" && address != "" && email != "" && mobileNo != "" && city != "" && state != "" && pincode!="" &&  name != " " && address != " " && email != " " && mobileNo != " " && city != " " && state != " " && pincode!=" ")
            {
              var requiredData = {
                  sessionId: apiKey,
                  values : JSON.stringify({
                      name: name,
                      call_type:  "New Kit Order DM",
                      address: address,
                      mobile: mobileNo,
                      username : mobileNo,
                      description: description
                  })
                  
              }   
              var settings = {
              "url": "https://lm.ditscentre.in/umssunil/serviceCall/unAuthServiceCall",
              "method": "POST",
              "timeout": 0,
              "headers": {
                  "Content-Type": "application/json"
              },
              "data": JSON.stringify(requiredData)
              };
              $.ajax(settings).done(function (response) {
                  //- console.log(response)
                  var newResponse = JSON.parse(response);
                  if (newResponse.state == true) {
                      swal("Successful", "Thank you for booking. For more details visit us at www.speedyfi.in.", "success");
                      document.getElementById('bookNowform').reset();
                      //swal('Your details have be recorded Successfully')
                  } else {
                      swal("Unsuccessful", "You have entered incorrect information try again with proper details", "error")
                  }

              });
            }else {
                swal("Unsuccessful", "Please enter the correct details", "error");
            }
        }
    //- Global site tag (gtag.js) - Google Analytics
    //- script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-185804429-2')
    //- script.
    //-     window.dataLayer = window.dataLayer || [];
    //-     function gtag(){dataLayer.push(arguments);}
    //-     gtag('js', new Date());
    //-     gtag('config', 'UA-185804429-2');

    //- // Global site tag (gtag.js) - Google Analytics
    //- script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-185806097-1')
    //- script.
    //-     window.dataLayer = window.dataLayer || [];
    //-     function gtag(){dataLayer.push(arguments);}
    //-     gtag('js', new Date());
    //-     gtag('config', 'UA-185806097-1');


